<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ERROR SERVER</title>
</head>

<body>
    <h1>ERROR SERVER</h1>
    <h2>SILAKAN HUBUNGI ADMIN</h2>
    <p>
        <%- error -%>
    </p>

</body>

</html>