<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    <h1> 404 - DATA TIDAK DAPAT DITEMUKAN</h1>
    <h2>SILAKAN HUBUNGI ADMIN</h2>
</body>

</html>