body {
  margin: 0;
  padding: 0;
  text-align: center;
}

div#wrapper {
  /*
    https://www.w3schools.com/howto/howto_css_center_website.asp
    Use a container element and set a specific max-width. 
    A common width many websites use is 960px. 
    To actually center the page, add margin: auto.

    The following example will center 
    the website on screens that are wider than 500px. 
    On screens that are less than 500px wide, 
    it will span the whole of the page:
    */
  /* max-width: 500px; */
  margin: auto;
}

div.border_1 {
  border: 2px solid black;
  margin-bottom: 20px;
}

img#image_profile {
  border-radius: 50%;
  max-width: 40%;
  height: auto;
  margin: auto;
}

nav ul {
  list-style-type: none;
  align-items: center;
}
nav ul > li {
  display: inline;
}
nav {
  margin-bottom: 3%;
}

section {
  margin-bottom: 50px;
}

section#projects h3 {
  margin-bottom: 10px;
}
section#projects p {
  margin-top: 0;
}

section#code {
  margin-left: 30%;
  margin-right: 30%;
}

section#contact form,
label {
  display: block;
  text-align: center;
}

section#contact {
  margin-left: 30%;
  margin-right: 30%;
}
section#contact form label input {
  margin-left: 10px;
}
section#contact form label:nth-child(1) input {
  margin-left: 34px;
}
section#contact form label:nth-child(2) input {
  margin-left: 34px;
}
section#contact form button {
  margin-top: 20px;
  margin-left: 15px;
}

footer {
  padding: 2%;
}
