<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <h1>BINGLE FOOD</h1>

    <form action="/menu" method="get">
        <button type="submit">LIHAT MENU</button>

    </form>
    <form action="/order" method="get">
        <button type="submit">LIHAT ORDER</button>

    </form>
</head>

<body>

</body>

</html>